---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Ewald Janz">
  <main>
    <div id="exhibitions" class="section">
        <nav id="exhibitions-nav">
            <h2>EXHIBITIONS</h2>
        </nav>
    </div>
  </main>
</Layout>

<style>

</style>
