---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Ewald Janz">
  <main>
    <div id="works" class="section">
        <nav id="works-nav">
            <h2>WORKS</h2>
            <ul>
                <li>paintings</li>
                <li>drawings</li>
                <li>collages</li>
            </ul>
        </nav>
    </div>
  </main>
</Layout>
